/* Write your CSS here */
.card-browser {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-browser-container {
  border-radius: 8px;
  box-shadow: 0px 0px 4px #bdafaf;
  margin: 20px;
  padding: 20px;
  width: 80%;
}

.upper-details {
  max-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bio-container {
  display: flex;
  align-items: center;
}

.dot-icon {
  align-self: center;
}

.name {
  font-size: 30px;
  margin-bottom: 0px;
}

.desc {
  align-self: flex-start;
  font-size: 14px;
}

.card-icon {
  color: red;
  background-color: #e7d4d4;
  font-size: 60px;
  padding: 15px;
  border-radius: 30px;
}

.card-type-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card-type {
  border: 2px solid grey;
  padding: 1px;
  border-radius: 5px;
  font-size: 12px;
}

.spent-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notation {
  display: flex;
  align-items: center;
}
