.tab-container {
  display: flex;
  justify-content: space-between;
}

.nav-button {
  border: 0px solid;
  background-color: transparent;
  cursor: pointer;
}

.tab-icon {
  margin-right: 10px;
  cursor: pointer;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .alignment-container {
    display: none;
  }
}

.align-button {
  border: 0px solid;
  background-color: transparent;
}
